@use '../mixins.scss' as *;

.imageRevealSlider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    overflow: hidden;
}

.image {
    position: relative;
    transform: translate(-50%, -50%);
    user-select: none;
    pointer-events: none;
}
